@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  position: relative;
  z-index: 1;
  color: #000;
  word-break: break-all;
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

main {
  width: 100%;
}

section {
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1100px;
}

.openbtn {
  display: none;
}

@media screen and (max-width: 768px) {
  #g-nav {
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.6s;
  }
  #g-nav.panelactive {
    top: 0;
  }
  #g-nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    flex-direction: column;
    transform: translate(-50%, -50%);
  }
  #g-nav li {
    margin-bottom: 40px;
    padding-right: 0;
    text-align: center;
  }
  #g-nav li a {
    padding: 10px;
    font-size: 36px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  #g-nav li a {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .openbtn {
    position: relative;
    z-index: 9999;
    display: inline-block;
    margin-left: 16px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  .openbtn span {
    position: absolute;
    left: 14px;
    display: inline-block;
    width: 45%;
    height: 3px;
    border-radius: 2px;
    transition: all 0.4s;
  }
  .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    width: 30%;
    transform: translateY(6px) rotate(-45deg);
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    width: 30%;
    transform: translateY(-6px) rotate(45deg);
  }
}
.fadeUp {
  opacity: 0;
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeUpTrigger {
  opacity: 0;
}

.fadeRight {
  opacity: 0;
  -webkit-animation-name: fadeRightAnime;
          animation-name: fadeRightAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeRightTrigger {
  opacity: 0;
}

.blur {
  -webkit-animation-name: blurAnime;
          animation-name: blurAnime;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes blurAnime {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

@keyframes blurAnime {
  from {
    opacity: 0;
    filter: blur(10px);
    transform: scale(1.02);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}
.blurTrigger {
  opacity: 0;
}

#g-nav li a {
  position: relative;
}
#g-nav li a::after {
  position: absolute;
  bottom: -5px;
  left: 10%;
  width: 80%;
  height: 2px;
  content: "";
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
#g-nav li a:hover::after {
  transform: scale(1, 1);
}

.top {
  width: calc(100% - 220px);
  height: calc(100vh - 100px);
}
.top div {
  position: relative;
  height: 100%;
}
.top div h2 {
  font-size: 36px;
}
.top div .upper {
  position: absolute;
  top: 120px;
  left: 85px;
}
.top div .bottom {
  position: absolute;
  right: 85px;
  bottom: 100px;
}
.top div img {
  height: 100%;
}

.black {
  padding: 80px 0;
  background-color: #000;
  color: #fff;
}
.black_content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.black_content_text {
  padding-right: 16px;
}
.black_content_text h3 {
  width: 380px;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.2;
}
.black_content_text p {
  display: inline-block;
  margin: 32px 0;
  padding: 4px 13px;
  background-color: rgb(42, 162, 162);
  font-weight: bold;
  font-size: 18px;
}
.black_content_text h4 {
  width: 620px;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.2;
}
.black_content_text .green {
  font-weight: bold;
  font-size: 32px;
}
.black_content_text .red {
  border-bottom: 1px solid #DC0000;
  color: #DC0000;
  font-weight: bold;
  font-size: 36px;
}
.black_content_img {
  width: 380px;
  height: 280px;
}
.black_content_img img {
  height: 100%;
}

.white_content {
  padding: 60px 0 75px;
  text-align: center;
}
.white h3 {
  font-size: 32px;
  line-height: 1.2;
}
.white_img {
  margin: 24px auto;
  width: 168px;
  height: 73px;
}
.white h4 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;
}
.white .green {
  font-weight: bold;
  font-size: 28px;
}
.white .red {
  color: #DC0000;
  font-size: 40px;
}

.counseling {
  padding: 80px 0;
  background-color: #154F4F;
  color: #fff;
  text-align: center;
}
.counseling h3 {
  font-size: 32px;
  line-height: 1;
}
.counseling p {
  margin: 40px 0;
}
.counseling_btn {
  padding: 18px 83px;
  border-radius: 18px;
  background-color: rgb(42, 162, 162);
  color: #fff;
  font-size: 24px;
  transition: all 0.4s;
}
.counseling_btn:hover {
  background-color: #fff;
  color: rgb(42, 162, 162);
}

.about {
  padding-bottom: 80px;
  text-align: center;
}
.about h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 60px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 32px;
}
.about h3::before, .about h3::after {
  width: 3px;
  height: 40px;
  background-color: rgb(42, 162, 162);
  content: "";
}
.about h3::before {
  margin-right: 30px;
  transform: rotate(-35deg);
}
.about h3::after {
  margin-left: 30px;
  transform: rotate(35deg);
}
.about h4 {
  margin-bottom: 40px;
  font-size: 32px;
}
.about .green {
  font-weight: bold;
}

.reason {
  padding-bottom: 80px;
  background-color: #f5f5f5;
}
.reason h4 {
  position: relative;
  margin-bottom: 12px;
  font-size: 32px;
}
.reason h4::before {
  display: inline-block;
  margin-right: 24px;
  border-bottom: 1px solid rgb(42, 162, 162);
  color: rgb(42, 162, 162);
  content: attr(data-number);
  font-size: 32px;
}
.reason p {
  margin-left: 40px;
  width: 500px;
}
.reason_item {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 28px;
}
.reason_item:nth-child(2n) {
  flex-direction: row-reverse;
}
.reason_item:last-child {
  margin-bottom: 0;
}
.reason_img {
  width: 388px;
  height: 242px;
}
.reason_img img {
  height: 100%;
}

.curriculum {
  padding-bottom: 80px;
  text-align: center;
}
.curriculum .section_title {
  line-height: 1.4;
}
.curriculum h4 {
  margin-bottom: 24px;
  font-size: 24px;
  position: relative;
}
.curriculum h4::before {
  content: attr(data-en);
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(42, 162, 162, 0.2);
  font-size: 80px;
  font-style: italic;
}
.curriculum ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  gap: 20px;
}
.curriculum_item {
  position: relative;
  box-sizing: border-box;
  width: 165px;
  height: 165px;
  border: 1px solid #707070;
}
.curriculum_item h5 {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 2;
  text-align: left;
  font-size: 20px;
}
.curriculum_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 108px;
}
.curriculum_img img {
  height: 100%;
}

.roadmap {
  padding-bottom: 80px;
  background-color: #E7F1F6;
  text-align: center;
}
.roadmap .section_title {
  line-height: 1.4;
}
.roadmap_content {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.roadmap_item {
  margin-bottom: 170px;
  padding: 24px 24px;
  max-width: 442px;
  height: 122px;
  border: 1px solid #707070;
  background-color: #fff;
  text-align: left;
}
.roadmap_item:last-child {
  margin-bottom: 0;
}
.roadmap_item h4 {
  font-size: 24px;
}
.roadmap_item h4 span {
  font-size: 16px;
}
.roadmap_item p {
  margin-top: 8px;
}
.roadmap_number {
  padding-top: 58px;
  width: 64px;
}
.roadmap_right {
  margin-top: 170px;
}
.roadmap_last {
  font-size: 32px;
}

.aftersupport {
  padding-bottom: 100px;
}
.aftersupport_item {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 32px;
}
.aftersupport_item:last-child {
  margin-bottom: 0;
}
.aftersupport_text {
  width: 45%;
}
.aftersupport_text .number {
  display: inline-block;
  float: left;
  margin-right: 24px;
  border-bottom: 1px solid rgb(42, 162, 162);
  color: rgb(42, 162, 162);
  content: attr(data-number);
  font-weight: bold;
  font-size: 32px;
  font-size: 32px;
}
.aftersupport_text h4 {
  position: relative;
  margin-left: 48px;
  font-size: 28px;
}
.aftersupport_text p {
  margin-top: 8px;
  margin-left: 40px;
}
.aftersupport_img {
  width: 35%;
  height: 242px;
}
.aftersupport_img img {
  height: 100%;
}

.graduate {
  padding-bottom: 80px;
  background-color: #f5f5f5;
}
.graduate_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.graduate_item {
  position: relative;
  width: 300px;
  height: 460px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.graduate_item:hover {
  box-shadow: 4px 12px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-8px);
}
.graduate_item a {
  width: 100%;
  height: 100%;
}
.graduate_img {
  max-height: 230px;
}
.graduate_img img {
  height: 100%;
}
.graduate_text {
  padding: 16px 32px;
  position: relative;
}
.graduate_text h4 {
  font-size: 18px;
}
.graduate_text p {
  padding-top: 24px;
  position: absolute;
  top: 110px;
}
.graduate .link_img {
  position: absolute;
  right: -1px;
  bottom: 8px;
  width: 94px;
  height: 90px;
}
.graduate .link_img img {
  height: 100px;
}

.course {
  padding-bottom: 80px;
  text-align: center;
}
.course h4 {
  position: relative;
  display: inline-block;
  font-size: 32px;
}
.course h4 .green {
  position: absolute;
  top: -35px;
  left: -40px;
  color: rgba(42, 162, 162, 0.8);
  font-style: italic;
  font-size: 40px;
  font-family: "Damion", cursive;
  transform: rotate(-5deg);
}
.course table {
  border-collapse: collapse;
}
.course table th, .course table td {
  padding: 16px 16px;
  height: 90px;
  border: solid 1px #707070;
  vertical-align: middle;
}
.course table th {
  font-size: 24px;
}
.course table td {
  width: 26%;
  font-size: 24px;
}
.course table .font_s {
  font-size: 16px;
}
.course table .font_m {
  font-weight: normal;
  font-size: 20px;
}
.course table .font_l {
  font-weight: bold;
}
.course table .right {
  vertical-align: bottom;
  text-align: right;
}
.course_normal {
  padding-bottom: 100px;
}
.course_normal h4 {
  margin-bottom: 43px;
}
.course_english table {
  width: 100%;
}
.course_english p {
  margin-bottom: 24px;
}

.voice {
  padding-bottom: 120px;
  background-color: #f5f5f5;
}
.voice_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.voice_item {
  position: relative;
  padding: 32px 24px;
  width: 252px;
  height: 178px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
.voice_item:hover {
  box-shadow: 4px 12px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-8px);
}
.voice_item a {
  width: 100%;
  height: 100%;
}
.voice h4 {
  font-size: 18px;
}
.voice p {
  position: absolute;
  bottom: 30px;
  padding-top: 24px;
}
.voice .link_img {
  position: absolute;
  right: -1px;
  bottom: 9px;
  width: 94px;
  height: 90px;
}
.voice .link_img img {
  height: 100px;
}

.header_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
.header_logo {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 24px;
}
.header_logo_img {
  padding-right: 18px;
  width: 80px;
  height: 80px;
}
.header_logo_img img {
  height: 100%;
}
.header_logo h1 {
  font-size: 28px;
  line-height: 1;
}
.header_counseling a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 100px;
  background-color: #154F4F;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

nav {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 3;
}
nav li a {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: calc((100vh - 100px) / 5);
  background-color: #fff;
  color: rgb(42, 162, 162);
  font-size: 20px;
}
nav li a:hover {
  background-color: rgb(42, 162, 162);
  color: #fff;
}
nav .login {
  background-color: rgb(42, 162, 162);
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
nav .login:hover {
  background-color: rgb(42, 162, 162);
  color: #fff;
}

.section_title {
  position: relative;
  padding: 80px 0 80px;
  text-align: center;
  font-size: 32px;
}
.section_title::after {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 10px 6px 0 6px;
  border-style: solid;
  border-color: rgb(42, 162, 162) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  content: "";
  transform: translateX(-50%);
}

.section_subtitle {
  font-size: 16px;
  font-weight: normal;
}

.under {
  background: linear-gradient(transparent 70%, #86F0F0 70%);
}

.green {
  color: rgb(42, 162, 162);
}

footer {
  padding: 55px 0 35px;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
footer .link {
  text-align: center;
  line-height: 2.5;
}
footer .left {
  padding-left: 4%;
}
footer .right {
  position: relative;
  padding-right: 4%;
  text-align: left;
}
footer .right::before {
  position: absolute;
  top: 5%;
  left: -20px;
  width: 3px;
  height: 90%;
  background: #707070;
  content: "";
}
footer a {
  font-size: 20px;
}
footer p {
  text-align: center;
  font-size: 12px;
  line-height: 1;
}
footer .mail {
  padding-bottom: 18px;
  font-weight: bold;
}