// ヘッダー
.header {
  &_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 4%;
    width: 100%;
    height: 100px;

    @include mq(sp){
      height: 64px;
    }
  }

  &_logo{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 24px;

    @include mq(sp){
      padding: 6px 0 6px 18px;
    }
    &_img{
      padding-right: 18px;
      width: 80px;
      height: 80px;

      @include mq(sp){
        width: 50px;
        height: 50px;
      }
      img{
        height: 100%;
      }
    }
    h1 {
      font-size: 28px;
      line-height: 1;

      @include mq(sp){
        font-size: 18px;
      }
    }
  }
}

nav{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  
  li a{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: calc((100vh - 100px) / 5);
    background-color: $cWhite;
    color: $cGreen;
    font-size: 20px;

    @include mq(pc){
      height: calc(564px / 5);
    }
    @include mq(sp){
      width: 150px;
      height: calc(353px / 5);
      font-size: 14px;
    }
    &:hover{
      background-color: $cGreen;
      color: $cWhite;
    }
  }
  
  .nav_counseling {
    height: 100px;
    background-color: $cGreen_strong;
    color: $cWhite;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    @include mq(sp){
      height: 64px;
      font-size: 14px;
    }
    &:hover {
      background-color: $cGreen_strong;
      color: $cWhite;
    }
  }  

  .login{
    background-color: $cGreen;
    color: $cWhite;
    text-align: center;
    font-weight: bold;
    font-size: 22px;

    @include mq(sp){
      font-size: 14px;
    }
    &:hover{
      background-color: $cGreen;
      color: $cWhite;
    }
    // @include mq(pc){
    //   height: 138px;
    // }
  }
}


// 共通部分
.section_title {
  position: relative;
  padding: 80px 0 80px;
  text-align: center;
  font-size: 32px;

  @include mq(sp){
    font-size: 24px;
  }
  &::after{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 0;
    height: 0;
    border-width: 10px 6px 0 6px;
    border-style: solid;
    border-color: $cGreen rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
    content: '';
    transform: translateX(-50%);
  }
}
.section_subtitle{
  font-weight: normal;
  font-size: 16px;
}

.under {
  background: linear-gradient(transparent 70%, $cGreen_light 70%);
}

.green {
  color: $cGreen;
}


// フッター
footer{
  padding: 55px 0 35px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 57px;

    @include mq(sp){
      align-items:  center;
      flex-direction: column;
    }
  }
  .link{
    text-align: center;
    line-height: 2.5;

    @include mq(tb){
      line-height: 3;
    }
  }
  .left{
    padding-left: 4%;
  }
  .right{
    position: relative;
    padding-right: 4%;
    text-align: left;
    &::before{
      position: absolute;
      top: 5%;
      left: -20px;
      width: 3px;
      height: 90%;
      background: $cborder;
      content: "";
    }
    @include mq(sp){
      margin-top: 30px;
    }
  }
  a{
    font-size: 20px;

    @include mq(tb){
      font-size: 16px;
    }
  }
  p{
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }
  .mail{
    padding-bottom: 18px;
    font-weight: bold;
  }
}