$cBlack: #000;
$cWhite: #fff;
$cGreen: rgb(42, 162, 162);
$cGreen_strong: #154F4F;
$cGreen_light: #86F0F0;
$cborder: #707070;
$cbg_gray: #f5f5f5;
$cbg_blue: #E7F1F6;
// $cWhite-thin: rgba(255, 255, 255, .1);
// $cWhite-bg: rgba(255, 255, 255, .8);
$cRed: #DC0000;
$cbg: #F2F2F2;

$font: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;