.about {
  padding-bottom: 80px;
  text-align: center;
  
  h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 60px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 32px;
    @include mq(sp){
      font-size: 24px;
      position: relative;
      .green{
        position: absolute;
        top: 50px;
      }
    }
    &::before,&::after{
      width: 3px;
      height: 40px;
      background-color: $cGreen;
      content: '';
    }
    &::before{
      margin-right: 30px;
      transform: rotate(-35deg);
    }
    &::after{
      margin-left: 30px;
      transform: rotate(35deg);
    }
  }
  h4 {
    margin-bottom: 40px;
    font-size: 32px;
    @include mq(sp){
      font-size: 20px;
    }
  }
  .green{
    font-weight: bold;
  }
  @include mq(sp){
    p{
      text-align: left;
      br{
        display: none;
      }
    }
  }
}