.aftersupport{
  padding-bottom: 100px;
  &_item{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    gap: 32px;
    @include mq(tb){
      align-items: center;
      flex-direction: column-reverse;
      margin-bottom: 70px;

      gap: 18px;
    }
    @include mq(sp){
      gap: 8px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }


  &_text{
    width: 45%;

    @include mq(tb){
      max-width: 400px;
      width: auto;
    }
    .number{
      display: inline-block;
      float: left;
      margin-right: 24px;
      border-bottom: 1px solid $cGreen;
      color: $cGreen;
      content: attr(data-number);
      font-weight: bold;
      font-size: 32px;

      @include mq(sp){
        margin-left: 4%;
        font-size: 28px;
      }
    }
    h4 {
      position: relative;
      margin-left: 48px;
      font-size: 28px;
      @include mq(pc){
        br{
          display: none;
        }
      }
      @include mq(tb){
        font-size: 24px;
      }
    }
    p{
      margin-top: 8px;
      margin-left: 40px;

      @include mq(tb){
        margin-left: 0;
      }
      @include mq(sp){
        padding: 0 4%;
      }
    }
  }


  &_img{
    width: 35%;
    height: 242px;

    @include mq(tb){
      width: 388px;
    }
    @include mq(sp){
      width: auto;
    }
    img{
      height: 100%;
    }
  }
}