.counseling {
  padding: 80px 0;
  background-color: $cGreen_strong;
  color: $cWhite;
  text-align: center;

  h3 {
    font-size: 32px;
    line-height: 1;
    @include mq(sp){
      font-size: 24px;
    }
  }
  p {
    margin: 40px 0;
    @include mq(sp){
      margin: 24px 0 32px;
    }
  }

  &_btn {
    padding: 18px 83px;
    border-radius: 18px;
    background-color: $cGreen;
    color: $cWhite;
    font-size: 24px;
    transition: all .4s;
    @include mq(tb){
      padding: 22px 32px;
      font-size: 20px;
    }
    @include mq(sp){
      padding: 22px;
    }

    &:hover{
      background-color: $cWhite;
      color: $cGreen;
    }
  }
}