.curriculum {
  padding-bottom: 80px;
  text-align: center;

  .section_title {
    line-height: 1.4;
  }

  h4{
    position: relative;
    margin-bottom: 24px;
    font-size: 24px;

    @include mq(sp){
      font-size: 20px;
    }
    &::before{
      position: absolute;
      bottom: -40px;
      left: 50%;
      color: rgba($color: $cGreen, $alpha: .2);
      content: attr(data-en);
      white-space: nowrap;
      font-style: italic;
      font-size: 80px;
      transform: translateX(-50%);

      @include mq(tb){
        bottom: -30px;
        font-size: 60px;
      }
      @include mq(sp){
        bottom: -25px;
        font-size: 50px;
      }
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    @include mq(pc){
      margin: 0 auto 40px;
      max-width: 720px;
    }
    gap: 20px;
  }
  &_item{
    position: relative;
    box-sizing: border-box;
    width: 165px;
    height: 165px;
    border: 1px solid $cborder;

    @include mq(tb){
      width: 140px;
      height: 140px;
    }
    h5 {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 2;
      text-align: left;
      font-size: 20px;

      @include mq(tb){
        font-size: 16px;
      }
    }
  }
  &_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 108px;
    height: 108px;

    @include mq(tb){
      width: 92px;
      height: 92px;
    }
    img{
      height: 100%;
    }
  }
}