.white{
  &_content{
    padding: 60px 0 75px;
    text-align: center;
  }
  h3{
    font-size: 32px;
    line-height: 1.2;
  }
  &_img {
    margin: 24px auto;
    width: 168px;
    height: 73px;
  }
  h4{
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
  }
  .green{
    font-weight: bold;
    font-size: 28px;
  }
  .red {
    color: $cRed;
    font-size: 40px;
  }
}