@import "../config";
@import "../mixin";

body {
  position: relative;
  z-index: 1;
  color: $cBlack;
  word-break: break-all;
  font-size: 16px;
  font-family: $font;
  line-height: 1.8;

  @include mq(sp){
    font-size: 14px;
  }
}

main {
  width: 100%;
}

section {
  background-color: $cWhite;
}

a {
  color: $cBlack;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 2%;
  max-width: 1100px;
  @include mq(pc){
    max-width: 924px;
  }
  @include mq(tb){
    max-width: 706px;
  }
  @include mq(sp){
    max-width: 442px;
    padding: 0 4%;
  }
}